body
{
    margin: 12vh 10vw 2vh 10vw;
}

hr
{
    margin: 0;
    border: solid 1px rgb(37, 37, 37);
}

.title
{
    font-size: 5vw;
    margin-bottom: 8vh;
}

.navbar
{
    display: flex;
}

.nav, .nav-true
{
    margin: 0 0 0 0.5vw;
    padding: 0.3vh 2vw 1vh 2vw;
    border: solid 2px transparent;
    border-width: 0 2px 0 2px;
    text-align: center;
    font-size: 1.2vw;
    cursor: pointer;
}

.nav:hover, .nav-true
{
    background-image: linear-gradient(white, rgba(212, 212, 212, 0.26), rgb(212, 212, 212));
    border: 2px solid transparent;
    border-width: 0 2px 0 2px;
    border-image: linear-gradient(to top, black, white);
    border-image-slice: 1;
}

.nav-true
{
    background-image: linear-gradient(white, rgba(151, 219, 221, 0.26), rgb(151, 219, 221));
}

.info
{
    margin: 5vh 2vw 1vh 2vw;
}